* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  text-align: center;
}

.header-h1 {
  font-size: 65px;
}

.container-grid {
  display: flex;
  width: 500px;
  height: 500px;
  margin: 100px auto;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: red;
}

.row {
  display: flex;
  justify-content: center;
  flex: 1;
}

.column {
  border: 1px solid black;
  flex: 1;
}
